/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");
/* Body Design CSS Code */
body {
  font-size: 15px;
  margin-top: 90px;
  background: #f2f2f2;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 100%;
}

/* Main Container Css Code  */
.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  grid-auto-columns: minmax(50px, auto);
  width: 900px;
  padding: 25px;
  margin: auto;
}

/* Inner box Item Design Css Code */
.item {
  padding: 50px;
}

.item h1 {
  font-size: 2rem;
  color: #f2f2f2;
  font-family: 'Big+Shoulders+Display', sans-serif;
  text-transform: uppercase;
  margin: 30px 0px 50px 0px;
}

.item p {
  font-size: 16px;
  font-family: 'Big+Shoulders+Display', sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.75);
  line-height: 1.5;
  margin: -12px 0px 0px -5px;
  cursor: pointer;
  word-spacing: 2px;
}

/* inner Box Item-1 Css Code */
#item-1 {
  background: #e38826;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

#item-1 p {
  margin-right: 20px;
}

.btn-1 {
  font-size: 15px;
  width: 70%;
  text-align: center;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 600;
  background-color: #f2f2f2;
  padding: 15px;
  border: none;
  border-radius: 25px;
  margin-right: 20px;
  color: #e38826;
  margin-top: 73px;
}

.btn-1:hover {
  background: #e38826;
  border: 2px solid white transparent;
  color: #f2f2f2;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  cursor: pointer;
}

/* inner Box Item-2 Css Code */
#item-2 {
  background: #006970;
}

#item-2 p {
  margin-right: 10px;
}

.btn-2 {
  font-size: 15px;
  width: 70%;
  text-align: center;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 600;
  background-color: #f2f2f2;
  padding: 15px;
  border: none;
  border-radius: 25px;
  margin-right: 20px;
  color: #006970;
  margin-top: 73px;
}

.btn-2:hover {
  background: #006970;
  border: 2px solid white transparent;
  color: #f2f2f2;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  cursor: pointer;
}

/* inner Box Item-3 Css Code */
#item-3 {
  background: #004241;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.btn-3 {
  font-size: 15px;
  width: 70%;
  text-align: center;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 600;
  background-color: #f2f2f2;
  padding: 15px;
  border: none;
  border-radius: 25px;
  margin-right: 20px;
  color: #004241;
  margin-top: 73px;
}

.btn-3:hover {
  background: #004241;
  border: 2px solid white transparent;
  color: #f2f2f2;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  cursor: pointer;
}

/* Footer Design Css Code */
footer {
  text-align: center;
  font-size: 1rem;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  margin-top: 40px;
}

footer a {
  color: orange;
  cursor: pointer;
}

footer a:hover {
  text-decoration: none;
  color: purple;
}

/* Responsive WebPage Css Code  */
@media screen and (max-width: 1440px) {
  body {
    width: auto;
  }
}

/* Grid Responsive Css Code */
@media screen and (max-width: 944px) {
  body {
    margin: 0px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .container {
    display: -ms-grid;
    display: grid;
    width: auto;
  }
  #item-1 .btn-1, #item-2 .btn-2, #item-3 .btn-3 {
    margin-top: 10px;
  }
  #item-1 {
    border-bottom-left-radius: 0px;
  }
  #item-2 {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  #item-3 {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 12px;
  }
}

@media screen and (max-width: 666px) {
  #item-1 {
    border-top-right-radius: 12px;
  }
  #item-2 {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  footer {
    line-height: 2;
  }
}
/*# sourceMappingURL=main.css.map */